*{
    box-sizing: border-box; /* meaning border is consider into the width and height calculation of the box/element */
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}
